:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media screen and (width >=650px) {
    --auth-wrapper-shadow-color: var(--app-brand-color-2);
    --auth-wrapper-content-max-width: 75%;
    --auth-wrapper-body-row-gap: 1rem;
  }
}

.body {
  display: flex;
  row-gap: var(--auth-wrapper-body-row-gap, 5rem);
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: var(--auth-wrapper-max-width, auto);
  overflow: hidden;

  &.useForm {
    --auth-wrapper-border-radius: 2rem;
  }

  .shadow {
    padding: var(--auth-wrapper-shadow-padding, 3rem 0);
    display: inherit;
    flex-direction: column;
    gap: 2.5rem;
    box-shadow: 0 0 0 1.5px var(--auth-wrapper-shadow-color, transparent) inset;
    border-radius: var(--auth-wrapper-border-radius, 12px);
  }

  .copy-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 3ch;
  }
}


.content {
  width: 100%;
  max-width: var(--auth-wrapper-content-max-width, auto);
  margin-inline: var(--auth-wrapper-content-margin-inline, auto);
  padding: var(--auth-wrapper-content-padding, 0);
  box-shadow: var(--auth-wrapper-content-box-shadow, none);

  display: flex;
  flex-direction: column;

  &:is(form) {
    gap: 1.2rem;
  }

  &:empty {
    display: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  p {
    font-size: calc(var(--app-font-size) * 1.5);
    color: lightgray;
  }
}