<section class="body" [ngClass]="{'hasForm': (useForm | async)}">
  <div class="shadow">
    <header class="content">
      <ng-content select="[heading]" />
    </header>
    <ng-container *ngTemplateOutlet="(useForm | async) ? formRef : bodyRef"></ng-container>
    <footer class="content">
      <ng-content select="[footer]"/>
    </footer>
  </div>
  <p class="copy-right">
    <span>created by harleysg</span>
    <span>devChallenges.io</span>
  </p>
</section>

<ng-template #bodyRef>
  <section class="content content-body">
    <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
  </section>
</ng-template>
<ng-template #formRef>
  <form class="content content-body" (ngSubmit)="submit()" [formGroup]="formGroup">
    <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
  </form>
</ng-template>
<ng-template #contentTmpl>
  <ng-content />
</ng-template>
