:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media screen and (width >=650px) {
    --auth-wrapper-shadow-color: var(--app-brand-color-2);
    --auth-wrapper-content-max-width: 75%;
  }
}

.body {
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  max-width: var(--auth-wrapper-max-width, auto);
  flex-direction: column;
  row-gap: 1rem;

  &.useForm {
    --auth-wrapper-border-radius: 2rem;
  }

  .shadow {
    padding-block: 3rem;
    display: inherit;
    flex-direction: column;
    gap: 2.5rem;
    box-shadow: 0 0 0 1.5px var(--auth-wrapper-shadow-color, transparent) inset;
    border-radius: var(--auth-wrapper-border-radius, 12px);
  }

  .copy-right {
    display: flex;
    justify-content: space-between;
  }
}


.wrapper {
  width: 100%;
  max-width: var(--auth-wrapper-content-max-width, auto);
  margin-inline: auto;

  display: flex;
  flex-direction: column;

  &:is(form) {
    gap: 1.2rem;
  }

  &:empty {
    display: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  p {
    font-size: calc(var(--app-font-size) * 1.5);
    color: lightgray;
  }
}