<div class="o-wrapper">
  <auth-wrapper class="register-form-wrapper" [formGroup]="form" (submitEmmiter)="submit()">
    <ng-container heading>
      <section class="heading">
        <auth-brand />
        <div>
          <h1>Change Info</h1>
          <p>Changes will be reflected to every services</p>
        </div>
      </section>
    </ng-container>
    <ng-container>
      <div class="register-form-wrapper-content">
        <auth-input-file (emitImage)="onChangeImage($event)" />

        @for (control of userData; track control) {
          @if (control.key !== 'photo') {
            <label>
              <span>{{control.key}}</span>
              <span class="outline">
                @if (control.type === 'textArea') {
                  <textarea
                    [formControlName]="control.key">
                  </textarea>
                }
                @else {
                  <input
                    [type]="control.type"
                    [formControlName]="control.key">
                }
              </span>
            </label>
          }
        }

        <auth-input type="submit" label="Save" value="Save" class="submit-button" />
      </div>
    </ng-container>
  </auth-wrapper>
</div>
