<nav>
  <auth-button [styles]="['rounded', 'simetric']" style="--c-btn-aspect-ratio: 4.8">
    <i class="fa-brands fa-google"></i>
  </auth-button>
  <auth-button [styles]="['rounded', 'simetric']" style="--c-btn-aspect-ratio: 4.8">
    <i class="fa-brands fa-facebook-f"></i>
  </auth-button>
  <auth-button [styles]="['rounded', 'simetric']" style="--c-btn-aspect-ratio: 4.8">
    <i class="fa-brands fa-twitter"></i>
  </auth-button>
  <auth-button [styles]="['rounded', 'simetric']" style="--c-btn-aspect-ratio: 4.8">
    <i class="fa-brands fa-github"></i>
  </auth-button>
</nav>