<nav>
  <auth-button name="google isotype" [styles]="['rounded', 'simetric']" style="--c-btn-aspect-ratio: 4.8">
    <i class="fa-brands fa-google"></i>
  </auth-button>
  <auth-button name="facebook isotype" [styles]="['rounded', 'simetric']" style="--c-btn-aspect-ratio: 4.8">
    <i class="fa-brands fa-facebook-f"></i>
  </auth-button>
  <auth-button name="twitter old isotype" [styles]="['rounded', 'simetric']" style="--c-btn-aspect-ratio: 4.8">
    <i class="fa-brands fa-twitter"></i>
  </auth-button>
  <auth-button name="github isotype" [styles]="['rounded', 'simetric']" style="--c-btn-aspect-ratio: 4.8">
    <i class="fa-brands fa-github"></i>
  </auth-button>
</nav>