:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.home {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  --auth-wrapper-max-width: 33rem;

  .heading {
    max-width: 40ch;
    display: flex;
    flex-direction: column;
    row-gap: 27px;

    div {
      display: grid;
      row-gap: 14px;
    }
  }
}