<div class="home o-wrapper">
  <auth-wrapper (submitEmmiter)="submit()" [formGroup]="formGroup">
    <ng-container heading>
      <section class="heading">
        <auth-brand />
        <div>
          <h1 class="o-heading">Join thousands of learners from around the world</h1>
          <p>Master web development by making real-life projects. There are multiple paths for you to choose</p>
        </div>
      </section>
    </ng-container>
    <ng-container>
      <auth-input
        [invalid]="!formGroup.get('email')?.valid && formGroup.get('email')?.touched"
        [control]="formGroup.controls['email']"
        placeholder="Name"
        image="/assets/icons/mail.svg"
        type="email" />
      <div>
        <auth-input
          [invalid]="!formGroup.get('password')?.valid && formGroup.get('password')?.touched"
          [control]="formGroup.controls['password']"
          placeholder="Password"
          image="/assets/icons/lock.svg"
          type="password" />
        <ng-template [ngTemplateOutlet]="passwordWarningRef"></ng-template>
      </div>
      <auth-input name="submit" [value]="'Login'" type="submit" />
    </ng-container>
    <ng-container footer>
      <p>or continue with these social profile</p>
      <auth-social-profile />
      <p>Already a member? <a [routerLink]="['/register']" routerLinkActive="router-link-active">register</a></p>
    </ng-container>
  </auth-wrapper>
</div>

<!-- <ng-template #loginFailedRef>
  @if (!formGroup.valid) {
    <span class="text-red-400 text-sm mt-0 m-auto">Usuario no valido</span>
  }
</ng-template> -->

<ng-template #passwordWarningRef>
  @if (formGroup.get('password') && formGroup.get('password')?.errors) {
    @if (!formGroup.get('password')?.valid && !formGroup.get('password')?.errors?.['passwordStrength'] && formGroup.get('password')?.touched) {
      <small class="text-red-400">Invalid password pattern</small>
    }
    @if (formGroup.get('password')?.errors?.['passwordStrength']) {
      @if (!formGroup.get('password')?.errors?.['passwordStrength']?.hasUpperCase) {
        <span class="text-red-400">
          Your password must have upper case.
        </span>
      }
      @if (!formGroup.get('password')?.errors?.['passwordStrength']?.hasLowerCase) {
        <span class="text-red-400">
          Your password must have lower case.
        </span>
      }
      @if (!formGroup.get('password')?.errors?.['passwordStrength']?.minimumLength) {
        <span class="text-red-400">
          Your password must have a minimum length.
        </span>
      }
      @if (!formGroup.get('password')?.errors?.['passwordStrength']?.hasNumeric) {
        <span class="text-red-400">
          Your password must have numeric character.
        </span>
      }
    }
  }
</ng-template>

